/*
Projet: Fil rouge FORNHEIM
Auteur: Julien Miralles
Date: Février 2020
Version: Alpha 3.0

*/
/* 1-1 Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url("../img/accueilwall2.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.fornheimlogo {
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;
}

.bloc, .fornheimlogo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.temtembloc, .lolbloc {
    width: 480px;
    height: 331px;
    margin: 0 auto;
    transition: all ease 1s;
}

.resp {
    width: 100%;
    height: auto;
}

.temtembloc:hover, .lolbloc:hover{
    -webkit-transform: scale(1.2);
    transition: all ease 1s;
    box-shadow: 0px 0px 20px rgba(2,223,183,0.8);
}
