/*
Projet: Fil rouge FORNHEIM
Auteur: Julien Miralles
Date: Février 2020
Version: Alpha 3.0

*/
/* 1-1 Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Responsive des images */
.resp {
    width: 100%;
    height: auto;
}

/* Wallpaper png Temtem vers orange */
body {
    background-image: url("../img/temtemwall.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-color: #d67c07;
    font-family: 'Rubik', sans-serif;
    background-repeat: no-repeat;
}

div {
    display: block;
}

/* HEADER */

.fornheimlogo {
    width: 100%;
    margin:10px auto 0 ;
}

.head-wrap {
    border-bottom: solid 1px rgba(255, 255, 255, 0.4);
}

.game_bloc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto 20px;
}

.lol_logo {
    width: 50%
}

header {
    width: 20%;
    height: 100%;
    background: linear-gradient(180deg, rgba(213, 137, 210, 0.9), rgba(213, 124, 7, 0.9));
    border-right: solid 1px rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
    position: fixed;
}

.redirect{
    width: 100%;
    height:auto;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;

}

.redirect:hover{
    background-color: rgba(145, 123, 62, 0.8);
}
.logolol{
    padding-top: 5px;
    width: 70%;
}
.arrow{
    width: 10%;
}

.nav-wrap {
    font-size: 1.5em;
    width: 100%;
    text-align: left;

}

.nav-wrap a {
    text-decoration: none;
    color: white;

}

.nav-wrap div:hover {
    background-color: rgba(255, 61, 51, 0.3);
}

.news, .guides, .map-menu, .wikitem, .housing, .discord  {
    width: 100%;
    padding: 0 10%;
    height: 80px;
    line-height: 80px;
    background-color: rgba(255, 255, 255, 0.3);
}

.guides, .list_items, .map-menu,.discord {
    background-color: rgba(0, 0, 0, 0.1);
}

/* MAIN CONTENT */
.searchbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}


.search{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    margin-right: 2%;
}

.magnifying{
    width: 30px;
    height: auto;
}

.login{
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 5%;
}
.login p{
    background: linear-gradient(#e8be69,#854711);
}

.user{
    width:25px;
}
.container {
    position: relative;
    width: 80%;
    display: block;
    min-height: 85%;
    margin: 0 0 0 20%;
    padding-top: 5%;

}

.white_wall{
    background-color: rgba(255, 255, 255, 0.7);
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    clip-path: polygon(0 .12%,0 59.135%,.351% 66.346%,.088% 86.538%,.088% 98.558%,46.754% 98.798%,48.684% 99.519%,73.333% 97.837%,88.421% 100%,100% 99.519%,100% 55.529%,99.386% 50.721%,99.737% 42.548%,99.737% .225%,78.947% 0,61.316% 0,23.772% .962%,5.351% .481%,0 .12%);
}