<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    {% block stylesheet %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>

        <div class="head-wrap">

            <div class="fornheimlogo"><img class="resp" src="{{ asset('img/horizon.png') }}" alt=""></div>
            <a href="{{ path('temtem_accueil') }}">
                <div class="redirect">
                    <div class="logotem"><img class="resp" src="{{ asset('img/tftlogo2.png') }}" alt=""></div>
                    <div class="arrow"><img class="resp" src="{{ asset('img/next_lol.png') }}" alt=""></div>
                </div></a>
        </div>

    <div class="nav-wrap">
        <a href=""><div class="news">News</div></a>
        <a href=""><div class="guides">Guides</div></a>
        <a href=""><div class="wikitem">Wiki-Rift</div></a>
        <a href=""><div class="academia">Runeterra Academia</div></a>
        <a href=""><div class="discord">Serveur discord</div></a>
    </div>
</header>
{% block section %}{% endblock %}

</body>
</html>