<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}F o r n h e i m{% endblock %}</title>
        {% block stylesheet %}{% endblock %}


    </head>
    <body>

        {% block section %}{% endblock %}

    </body>

</html>
