{% extends 'base_accueil.html.twig' %}


{% block stylesheet %}<link rel="stylesheet" href="{{ asset('css/temtem_style.css') }}">{% endblock %}


        {% block nav1 %}<a href=""><div class="news">News</div></a>{% endblock %}
        {% block nav2 %}<a href=""><div class="guides">Guides</div></a>{% endblock %}
        {% block nav3 %}<a href=""><div class="wikitem">Wiki-Temtem</div></a>{% endblock %}
        {% block nav4 %}<a href=""><div class="map-menu">Map Intéractive</div></a>{% endblock %}
        {% block nav5 %}<a href=""><div class="discord">Serveur discord</div></a>{% endblock %}



{% block section %}
    <input class="search" type="search">
    <div class="container">

        <div class="white_wall"></div>

    </div>


{% endblock %}